---
title: Image Analysis
---

.row
  .eight.columns
    %h3 About
    / Grid Example
    .row
      .twelve.columns
        .panel
          %p Materials scientist with broad knowledge of hard and superhard materials, specifically in their analysis and characterisation using a wide variety of analytical methods. Some managerial experience as well.
    .row
      .six.columns
        .panel
          %p Experience: Element Six Diamond Research Laboratories, Nelson Mandela Metropolitan University
      .six.columns
        .panel
          %p Specialties: Electron microscopy (SEM, dual beam and TEM), X-ray diffraction, Raman spectroscopy, analytical laboratory administration.
  .four.columns
    %h4 Contact
    %p
      %a.small.button{:href => 'mailto:tina@imageanalysis.co.za'} tina@imageanalysis.co.za
    %h4 Other Resources
    %ul.disc
      %li
        %a{:href => "http://za.linkedin.com/pub/christiane-tina-heiligers/14/794/260/"} LinkedIn
        %br
        My linked in profile, with experience and history.
